/* Sidebar.css */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #000000;
  transition: left 0.3s ease;
}

.sidebar.close {
  width: 80px;
}

.toggle-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
}

.selected {
  background: #00a3e1;
  color: white;
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }
}
