@import "../../styles/breakpoint";

.home_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .heading {
    letter-spacing: 5px;
    font-size: 25px;
    color: #00a3e1;
    margin-bottom: 0;
    @include sm{
      letter-spacing: 6px;
      font-size: 35px;
    }
    @include md{
      letter-spacing: 8px;
      font-size: 45px;
    }
    @include lg{
      letter-spacing: 10px;
    font-size: 55px;
    }
  }
  .para {
    letter-spacing: 3px;
    font-size: 18px;
    @include sm{
      letter-spacing: 3px;
    font-size: 22px;
    }
    @include md{
      letter-spacing: 4px;
      font-size: 25px;
    }
    @include lg{
      letter-spacing: 5px;
      font-size: 30px;
    }
    .base {
      // color: white;
      color: #00a3e1;
      // font-size: 30px;
    }
    .base::before {
      // content: "Frontend Developer";
      position: absolute;
      color: #00a3e1;
      // width: 70px;
      overflow: hidden;
      white-space: nowrap;
      // border-right: 4px solid #00a3e1;
      // animation: animateXs 3s linear infinite;
      // @include sm{
      //   animation: animateSm 3s linear infinite;
      // }
      // @include md{
      //   animation: animateMd 3s linear infinite;
      // }
      // @include lg{
      //   animation: animateLg 3s linear infinite;
      // }
      // @include xl{
      //   animation: animateXl 3s linear infinite;
      // }
      // @include xxl{
      //   animation: animateXxl 3s linear infinite;
      // }
    }
  }
}

@keyframes animateXs {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 67%;
  }
}
@keyframes animateSm {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 52%;
  }
}
@keyframes animateMd {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 42%;
  }
}
@keyframes animateLg {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 32%;
  }
}
@keyframes animateXl {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 22.5%;
  }
}
@keyframes animateXxl {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 20.5%;
  }
}
