@use "../../styles/breakpoint" as bp;

#aboutMain {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 0 0.5px 0 #cc005f;

  @include bp.md {
    padding: 40px;
  }

  @include bp.lg {
    padding: 50px;
  }

  @include bp.xl {
    padding: 60px;
  }

  @include bp.xxl {
    padding: 70px;
  }
}
