@import "./styles/breakpoint";

* {
  box-sizing: border-box;
  // background-color: black;
  // color: rgb(255, 255, 255);
}

//  old scss
// .app-main {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   .left {
//     display: none;
//     @include md {
//       width: 25%;
//       display: block;
//     }
//     @include lg {
//       width: 20%;
//       display: block;
//     }
//   }
//   .right {
//     width: 100%;
//     @include md {
//       width: 75%;
//     }
//     @include lg {
//       width: 80%;
//     }
//   }
// }

// new scss
.app-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
